include ../search-form/search-form.pug
include ../text-field/text-field.pug

div.content 
    +search-form('main-page__search-form')

    div.content__text.font_body Лучшие номера для вашей работы,<br>отдыха и просто вдохновения