include ../search-form/search-form.pug
include ../text-field/text-field.pug

div.content 
    +search-form

    +text-field('test1', 'test2', 'test3')

    div.content__text.font_body Лучшие номера для вашей работы,<br>отдыха и просто вдохновения