.registration-form {
  width: 320px;
  height: 576px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;

  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.registration-form__name-surname-sex {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.registration-form__email-password-toggle {
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.registration-form__login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin-top: 30px;
}

.registration-form__button {

}