extends /templates/page_template.pug

block style
  link(rel="stylesheet", href="style.scss")
block title
  title Отель Toxin
block header
  include blocks/header/header.pug
block main
  include blocks/main/main.pug
block footer
  include blocks/footer/footer.pug