html(lang="ru")
  head
    meta(charset="utf-8")
    link
    title= "Toxin"
  body
    include /components/header/header.pug
    include /components/main/main1.pug
    include /components/footer/footer.pug