html(lang="ru")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="components/main/main1.scss")
    link(rel="stylesheet" href="primitives/buttons/colored_btn.scss")
    title= "Toxin"
  body
    include /components/header/header.pug
    include /components/main/main1.pug
    include /components/footer/footer.pug