$main-color100: #1F2041;
$main-color75: rgba(31, 32, 65, 0.75);
$main-color50: rgba(31, 32, 65, 0.50);
$main-color25: rgba(31, 32, 65, 0.25);
$main-color5: rgba(31, 32, 65, 0.05);

$color1: #BC9CFF;

$page-width: 1440px;
$main-margin: 140px;

@import './blocks/fonts/fonts.scss';
@import './blocks/icon/icon.scss';
@import './blocks/header/header.scss';
@import './blocks/button-colored/button-colored.scss';
@import './blocks/button-framed/button-framed.scss';
@import './blocks/main/main.scss';
@import './blocks/dropdown/dropdown.scss';
@import './blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import './blocks/date-dropdown/date-dropdown.scss';
@import './blocks/filter-date-dropdown/filter-date-dropdown.scss';
@import './blocks/masked-text-field/masked-text-field.scss';
@import './blocks/search-form/search-form.scss';
@import './blocks/subscription-text-field/subscription-text-field.scss';
@import './blocks/footer/footer.scss';
@import './blocks/text-field/text-field.scss';
@import './blocks/masked-text-field/masked-text-field.scss';
@import './pages/ui-kit-form-elements.scss';
@import './blocks/icon-text-list/icon-text-list.scss';
@import './blocks/checkbox-buttons/checkbox-buttons.scss';


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-gap: 0px;
}