div.logo 
    div.icon 
        object(type="image/svg+xml" data="./blocks/images/icon.svg") Your browser does not support SVG
    div.brand
        object(type="image/svg+xml" data="./blocks/images/toxin.svg") Your browser does not support SVG