.pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 241px;
    height: 75px;
    border: 1px solid red;
    background-color: lightcyan;
}

.pagination__buttons {
    height: 40px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    border: 1px solid violet;
}

.pagination__button {
    @extend .font_body;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    text-align: center;
    // line-height: 40px;
    display: inline-block;

    // transform-style: preserve-3d;
}

.pagination__label {
    border: 1px solid seagreen;
}

.pagination__button_active {
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform-style: preserve-3d;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
}

.pagination__button_active:before {
    position: absolute;
    content: '';
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 22px;
    // background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
    transform: translateZ(-1px);
}

.pagination__button_next {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.pagination__button_next:before {
    content: url(../blocks/images/arrow_forward_white.svg);
}