mixin pagination 
    div.pagination.font_body
        div.pagination__buttons
            //- div.pagination__button.pagination__button_active 1
            //- div.pagination__button 2
            //- div.pagination__button 3
            //- div.pagination__button ...
            //- div.pagination__button 15
            div.pagination__button.pagination__button_next
        div.pagination__label