.footer__copyright-text {
    width: fit-content;
    margin-right: 24px;
}

.footer__social-media {
    width: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(../blocks/images/logo_twitter.svg);
}

.facebook {
    background-image: url(../blocks/images/logo_facebook.svg);
}

.instagram {
    background-image: url(../blocks/images/logo_instagram.svg);
}

@media (max-width: $page-width-mobile) {
    .footer__copyright-text {
        margin-bottom: 25px;
    }
}