mixin page-copyright-bar 
    div.footer__copyright
        div.footer__copyright-text.font_body Copyright &#169; 2018 Toxin отель. Все права зачищены.
        div.footer__social-media
            div.social-media.twitter
            div.social-media.facebook 
            div.social-media.instagram