.radio-buttons {
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.radio-buttons__title {
    margin-bottom: 16px;
    max-width: 320px;
}

.radio-button_input:checked, 
.radio-button_input:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

.radio-button_input:checked + .radio-button_label, 
.radio-button_input:not(:checked) + .radio-button_label {
    display: inline-flex;
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
}

.radio-button_input:checked + .radio-button_label:before, 
.radio-button_input:not(:checked) + .radio-button_label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #BC9CFF;
    background-color: #ffffff;
}

.radio-button_input:checked + .radio-button_label:before, 
.radio-button_input:not(:checked) + .radio-button_label:before {
    border-radius: 100%;
}

.radio-button_input:checked + .radio-button_label:after, 
.radio-button_input:not(:checked) + .radio-button_label:after {
    content: "";
    position: absolute;
}

.radio-button_input:checked + .radio-button_label:after, 
.radio-button_input:not(:checked) + .radio-button_label:after {
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
 
.radio-button_input:not(:checked) + .radio-button_label:after {
    opacity: 0;
}

.radio-button_input:checked + .radio-button_label:after {
    opacity: 1;
}