.content {
    grid-area: main;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $page-width;
    height: 830px;
    background-image: url(./blocks/images/main1_background.jpg);
    background-repeat: no-repeat;
}

.content__text {
    display: inline-block;
    align-self: flex-end;
    text-align: right;
    margin-bottom: 18px;
    margin-right: $main-margin;
}

@media (max-width: 850px) {
    .content__search-form {
        margin-left: 10px;
    }

    .content__text {
        align-self: flex-end;
        margin-left: 10px;
    }

}