include ../button-colored/button-colored.pug
include ../button-framed/button-framed.pug
include ../new-link/new-link.pug
include ../logo/logo.pug

header.header 
    div.header__logo
        a(href="../index.html")
            +logo('../blocks/images/icon.svg', '../blocks/images/toxin.svg')

    div.header__menu.font_body
        div.menu-item
            +new-link('./index.html', 'XXX', 'О нас')
        div.menu-item.menu-item__expand-more
            +new-link('./index.html', 'XXX', 'Услуги')
            div.submenu
                div.submenu-item
                    +new-link('./index.html', 'XXX', 'Услуга1')
                div.submenu-item
                    +new-link('./index.html', 'XXX', 'Услуга2')
        div.menu-item
            +new-link('./index.html', 'XXX', 'Вакансии')
        div.menu-item
            +new-link('./index.html', 'XXX', 'Новости')
        div.menu-item.menu-item__expand-more
            +new-link('./index.html', 'XXX', 'Соглашения')
            div.submenu
                div.submenu-item
                    +new-link('./pages/ui-kit-color-and-type.html', 'XXX', 'Color & Types')
                div.submenu-item 
                    +new-link('./pages/ui-kit-form-elements.html', 'XXX', 'Form Elements')
                div.submenu-item
                    +new-link('./pages/ui-kit-cards.html', 'XXX', 'Cards')
                div.submenu-item 
                    +new-link('./pages/ui-kit-headers-and-footers.html', 'XXX', 'Headers & Footers')
        div.menu-item
            +button-framed('login-button font_h3', './index.html','Войти')
        div.menu-item
            +button-colored('signup-button font_h3', './index.html','Зарегистрироваться')
    
