.content {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $page-width - 2 * $main-margin;
    height: 742px;
    padding: 70px $main-margin 18px $main-margin;
}

.content__background {
    z-index: -1;
    position: absolute;
    width: 1534px;
    height: 1022px;
    top: -131px;
    left: -47px;
    background: url(../blocks/images/image_3.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.content__text {
    align-self: flex-end;
    height: fit-content;
    text-align: right;
}

@media (max-width: $page-width) {
    .content {
        width: 100%;
    }
}

@media (max-width: $page-width-mobile) {
    .content {
        justify-content: center;
    }
}