.button {
    position: relative;
    width: 96px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    color: #3c3c3c;
    padding: 2px;
    transform-style: preserve-3d;
    }
    
    .button:before {
    position: absolute;
    content: '';
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
    transform: translateZ(-1px);
    }