include ../button-colored/button-colored.pug
include ../button-framed/button-framed.pug
include ../new-link/new-link.pug

header.header 
    div.header__logo
        a(href="index.pug")
            include ../icon/icon.pug

    div.header__menu.font_body
        +new-link('index.pug', 'menu-item', 'О нас')
        +new-link('index.pug', 'menu-item', 'Услуги')
        +new-link('index.pug', 'menu-item', 'Вакансии')
        +new-link('index.pug', 'menu-item', 'Новости')
        +new-link('index.pug', 'menu-item', 'Соглашения')
    
    div.header__buttons
        +button-framed('login-button font_h3', 'index.pug','Войти')
        +button-colored('signup-button font_h3', 'index.pug','Зарегистрироваться')