include ../button/button.pug

mixin element(href, class_name, text)
    a(href=href)
        div(class=class_name)= text

header.header 
    div.header__logo
        a(href="index.pug")
            include ../icon/icon.pug

    div.header__menu
        +element('index.pug', 'menu-elem', 'О нас')
        +element('index.pug', 'menu-elem', 'Услуги')
        +element('index.pug', 'menu-elem', 'Вакансии')
        +element('index.pug', 'menu-elem', 'Новости')
        +element('index.pug', 'menu-elem', 'Соглашения')
    
    div.header__buttons
        +button('button1', 'index.pug','Войти')
        +button('button1', 'index.pug','Зарегистрироваться')