include ../page-copyright-bar/page-copyright-bar.pug

div.footer-mobile
    div.footer-mobile__logo
        a(href="./index.html")
            +logo('./blocks/images/icon.svg', './blocks/images/toxin.svg')
    div.page-copyright-bar.page-copyright-bar_mobile
        +page-copyright-bar