mixin rate-button(label)
    div.rate-button(class="rate-button_"+label)
        fieldset.rate-button__fieldset(class="rate-button__fieldset_"+label)
            -for(var i=1; i<6; i++)
                div.star(class = "star-value_"+i)