.rate-button__fieldset {
    position: relative;
    height: 24px;
    display: flex;
    padding: 0;
    border: none;
    margin: 0;
}

.star {
    width: 24px;
    height: 24px;
    background-image: url(../blocks/images/star_border.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.star_checked {
    background-image: url(../blocks/images/star.svg);
}