.button_colored_long {
  @extend .font_h3;
  color: white;
  width: 320px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(180deg, #bc9cff, #8ba4f9);
}

.button_colored_long__arrow {
  position: relative;
  left: 276px;
  top: -44px;
  background-image: url(../blocks/images/arrow_forward_white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 44px;
  height: 44px;
  border-radius: 20px;
}
