extends ../templates/page_template.pug

include ../blocks/logo/logo.pug
include ../blocks/search-form/search-form.pug
include ../blocks/registration-form/registration-form.pug
include ../blocks/apartment-detailed-card/apartment-detailed-card.pug
include ../blocks/login-card/login-card.pug
include ../blocks/calendar-card/calendar-card.pug
include ../blocks/room-card/room-card.pug

block style 
    link(href="../../node_modules/air-datepicker/dist/css/datepicker.min.css", rel="stylesheet", type="text/css")
    link(href="../scss/air-datepicker-custom-style.scss")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(type="text/javascript", src="../../node_modules/air-datepicker/dist/js/datepicker.min.js")

block title
  title Form Elements

block header
    div.header__logo
        a(href="../index.html")
            +logo('./../blocks/images/icon.svg', './../blocks/images/toxin.svg')


block main

    div.form-element
        +search-form

    div.form-element
        +registration-form

    div.form-element
        +apartment-detailed-card

    div.form-element
        +login-card

    div.form-element
        +calendar-card

    div.form-element
        +room-card('0001')
        div bla-bla
        +room-card('0002')
        div bla-bla
        +room-card('0003')
        div bla-bla
        +room-card('0004')

block footer
    div bla