include ../new-link/new-link.pug
include ../button-link/button-link.pug

//- mixin dropdown(leftlabel, rightlabel, placeholderText, item1, item2, item3)
mixin dropdown(uniqID, leftlabel, rightlabel, placeholderText, ...items)
    .dropdown 
        .dropdown__label-wrapper
            .dropdown__label_left= leftlabel
            .dropdown__label_right= rightlabel
        .dropdown__menu= placeholderText
            .dropdown-menu__button
        .dropdown__submenu_wrapper
            .dropdown__submenu
                - var i=0
                each item in items 
                    .item-content(class= uniqID + "-dropdown-item-" + i)= item
                        .buttons-wrapper
                            button.button_minus(class= uniqID + "-minus-" + i)
                            .guest-content(class= "guest-content-" + i) 0
                            button.button_plus(class= uniqID + "-plus-" + i++)
                .dropdown__submenu__buttons 
                    div.dropdown__button_clear 
                        +button-link('font_h3 dropdown__button_clear', 'javascript:void(0);', 'Очистить')
                    div.dropdown__button_apply 
                        +button-link('font_h3 dropdown__button_apply', 'javascript:void(0);', 'Применить')