.logo {
    width: 105.69px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.brand {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11.5px;
}

.svg-object {
    pointer-events: none;
}