mixin logo(pic1, pic2)
    div.logo 
        div.icon
            object.svg-object(type="image/svg+xml" data=pic1) Your browser does not support SVG
        div.brand
            object.svg-object(type="image/svg+xml" data=pic2) Your browser does not support SVG