include ../new-link/new-link.pug
include ../subscription-text-field/subscription-text-field.pug
include ../logo/logo.pug
include ../page-copyright-bar/page-copyright-bar.pug

footer.footer
    div.footer__navigation.navigation
        div.navigation__column
            div.column__logo
            a(href="./index.html")
                +logo('../blocks/images/icon.svg', '../blocks/images/toxin.svg')
            div.column__nav-item.nav-item.font_body Бронирование номеров в лучшем отеле 2019&nbsp;года по версии ассоциации &laquo;Отельные взгляды&raquo;

        div.navigation__column
            div.font_h3 Навигация
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'О нас')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Новости')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Служба поддержки')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Услуги')

        div.navigation__column
            div.font_h3 О нас
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'О сервисе')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Наша команда')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Вакансии')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Инвесторы')

        div.navigation__column
            div.font_h3 Служба поддержки
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Соглашения')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Сообщество')
                div.nav-item.font_body
                    +new-link('index.html', 'XXX', 'Связь с нами')

        div.navigation__column
            div.font_h3 Подписка
            div.nav-item.font_body Получайте специальные предложения и новости сервиса
            +subscription-text-field('', 'Email')

    div.footer__page-copyright-bar
        +page-copyright-bar