include ../new-link/new-link.pug
include ../subscription-text-field/subscription-text-field.pug
include ../logo/logo.pug

footer.footer
    div.footer__navigation.navigation
        div.navigation__column
            div.column__logo
            a(href="./index.html")
                +logo('./blocks/images/icon.svg', './blocks/images/toxin.svg')
            div.column__nav-item.nav-item.font_body Бронирование номеров в лучшем отеле 2019&nbsp;года по версии ассоциации &laquo;Отельные взгляды&raquo;

        div.navigation__column
            div.font_h3 Навигация
            +new-link('index.html', 'nav-item font_body', 'О нас')
            +new-link('index.html', 'nav-item font_body', 'Новости')
            +new-link('index.html', 'nav-item font_body', 'Служба поддержки')
            +new-link('index.html', 'nav-item font_body', 'Услуги')

        div.navigation__column
            div.font_h3 О нас
            +new-link('index.html', 'nav-item font_body', 'О сервисе')
            +new-link('index.html', 'nav-item font_body', 'Наша команда')
            +new-link('index.html', 'nav-item font_body', 'Вакансии')
            +new-link('index.html', 'nav-item font_body', 'Инвесторы')

        div.navigation__column
            div.font_h3 Служба поддержки
            +new-link('index.html', 'nav-item font_body', 'Соглашения')
            +new-link('index.html', 'nav-item font_body', 'Сообщество')
            +new-link('index.html', 'nav-item font_body', 'Связь с нами')

        div.navigation__column
            div.font_h3 Подписка
            div.nav-item.font_body Получайте специальные предложения и новости сервиса
            +subscription-text-field('', 'Email')

div.footer__copyright.font_body Copyright &#169; 2018 Toxin отель. Все права зачищены.
    div.footer__social-media
        div.social-media.twitter
        div.social-media.facebook 
        div.social-media.instagram