.masked-text-field-form {
    width: 320px;
    min-height: 64px;
}

.masked-text-field-form__label-wrapper {
    display: flex;
    justify-content: space-between;
}

.masked-text-field-label {
    @extend .font_h3;
 }

 .masked-text-field-label2 {
    color: $main-color50;
    font-weight: normal;
 }

.masked-text-field-wrapper {
    display: inline-flex;
}

.masked-text-field-wrapper > input {
    @extend .font_body;
    color: $main-color25;
    border-radius: 4px; 
    border: 1px solid $main-color25;
    padding-left: 15px;
    height: 44px;
    width: 320px;
    margin-top: 5px;
}

.masked-text-field-wrapper > input:hover,
.masked-text-field-wrapper > input:active {
    border: 1px solid $main-color50;
    color: $main-color75;
}