mixin range-slider
    div.range-slider
        div.form-element__range-slider-label-left.font_h3 Range slider 
        div.form-element__range-slider-label-right.font_body 5000ла - 10000ла
        div.range-slider__wrapper
            div(class = "range-slider__block-min" onmousedown="onMouseDown()" onmouseup="onMouseUp()" onmousemove="onMouseMove()")
            div.range-slider__color-range
            div.range-slider__color-range_background
            div(class = "range-slider__block-max" onmousedown="onMouseDown()" onmouseup="onMouseUp()" onmousemove="onMouseMove()")