.range-slider__wrapper {
    margin-top: 10px;
    width: 266px;
    height: 6px;
    position: relative;
    background: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    /* border: 1px solid red; */
    border-radius: 3px;
}

.range-slider__color-range {
    position: absolute;
    background: #6FCF97;
    width: 266px;
    /* top: -16px; */
    /* width: 97%; */
    border-radius: 3px;
    /* border: none; */
    height: 6px;
    z-index: 2;
    /* left: 15px; */
}

.range-slider__color-range_background {
    position: absolute;
    background: palegoldenrod;
    width: 266px;
    /* top: -16px; */
    /* width: 97%; */
    border-radius: 3px;
    /* border: none; */
    height: 6px;
    z-index: 1;
    /* left: 15px; */
}

.range-slider__block-min {
    position: absolute;
    width: 12px;
    height: 12px;
    top: -5px;
    left: -1%;
    background: red;
    border: 2px solid greenyellow;
    border-radius: 10px;
    z-index: 1000;
}

.range-slider__block-max {
    position: absolute;
    width: 12px;
    height: 12px;
    top: -5px;
    left: 95%;
    background: orange;
    border: 2px solid green;
    border-radius: 10px;
    z-index: 1000;
}