.search-room-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: $page-width - 2*$main-margin;
    padding: 0px $main-margin 0px $main-margin;
    background-color: white;
    border: 1px solid salmon;
    border-bottom: 1px solid $main-color25;
}

.search-room-container_display {
    display: none;
}

.search-panel {
    width: 270px;
    border: 1px solid red;
}

.rooms-wrapper {
    width: 834px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
}

.room{
    margin-bottom: 20px;
}

.pagination-wrapper {
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
}