include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/checkbox-buttons/checkbox-buttons.pug
include ../../blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../blocks/room-card/room-card.pug 

mixin page-search-room
    div.search-room-container.search-room-container_display
        div.search-panel
            +filter-date-dropdown('Даты пребывания в отеле')
            +dropdown('uniqID', 'Гости', '', 'Выберите гостей', 'Взрослые', 'Дети', 'Младенцы')
            div ТУТ ДОЛЖЕН БЫТЬ СЛАЙДЕР ЦЕН
            +checkbox-buttons('checkbox_btn_name', 'Правила дома', 'Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек_')
            +rich-checkbox-buttons('rich_checkbox_btn_name', 'Доступность', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера')
            +dropdown('udobstva', 'Удобства номера', '', 'Выберите удобства', 'Спальни', 'Кровати', 'Ванные комнаты')
            +expandable-checkbox-list('Дополнительные удобства', 'Завтрак', 'Письменный стол', 'Стол для кормления', 'Кроватка', 'Телевизор', 'Шампунь')
        div.rooms-wrapper