mixin checkbox-buttons(label, ...items)
    div.checkbox-buttons 
        div.checkbox-buttons__title.font_h3= label
        div.checkbox-buttons__items.font_body
            -var i=1
            each item in items
                input(type="checkbox" class="checkbox-button" id="checkbox-button"+i)
                label(for="checkbox-button"+i)= item
                -i=i+1
                <br>