extends ../templates/page_template.pug

include ../blocks/icon/icon.pug

block style 
    link(rel="stylesheet", href="../style.scss")

block title
  title Color &amp; Type

block header
        div.header2
            div.header__logo
                div.logo 
                    a(href="../index.pug")
                        +logo('../blocks/images/icon.svg', '../blocks/images/toxin.svg')

block main
    div color and type

block footer
    div color and type