extends ../templates/page_template.pug

include ../blocks/icon/icon.pug
include ../blocks/text-field/text-field.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/masked-text-field/masked-text-field.pug

include ../blocks/subscription-text-field/subscription-text-field.pug
include ../blocks/search-form/search-form.pug

block style 
    link(rel="stylesheet", href="../style.scss")

block title
  title Form Elements

block header
    div.header__logo
        a(href="../index.pug")
            +logo('../blocks/images/icon.svg', '../blocks/images/toxin.svg')

block main
    div.main-wrapper
        div.form-element
            +text-field('Text field', 'default', 'Email')

        div.form-element
            +text-field('Text field', 'Hover/focus', 'This is pretty awesome')

        div.form-element
            +dropdown    

        div.form-element
            +masked-text-field('Masked text field', 'default', 'ДД.ММ.ГГГГ')

        div.form-element
            +subscription-text-field('Subscription text field', 'Email')

block footer
    div bla 
        <input id="date" value="1231" type="text" tabindex="1" />
