@import '../rate-button/rate-button.scss';

.room-card {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $main-color5;
  border-radius: 4px;
  overflow: hidden;
}

.slider-line {
  // width: 1080px;
  width: 270px;
  height: 152px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
  z-index: 10;
}

.slider-dots{
  position: relative;
  top: -20px;
  left: 0px;
  height: 10px;
  width: 257px;
  z-index: 30;
}

.dot {
  position: relative;
  background-image: url(../blocks/images/ellipse_empty.svg);
  background-position-x: 50%;
  height: 9px;
  width: 9px;
}

.room-card__image_prev {
  position: relative;
  left: 0px;
  top: -161px;
  background-image: url(../blocks/images/expand_more1.svg);
  z-index: 20;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 42px;
  height: 151px;
}

.room-card__image_next {
  position: relative;
  left: 230px;
  top: -312px;
  width: 42px;
  height: 151px;
  // background-color: aquamarine;
  background-image: url(../blocks/images/expand_more2.svg);
  z-index: 20;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.room-card__image_prev:hover, .room-card__image_next:hover {
  background-color: $main-color5;
}

.room-card__details {
  position: relative;
  top: -312px;
  height: 65px;
  width: 230px;
  // border: 1px solid red;
  padding: 20px;
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
  // justify-self: baseline;
  flex-wrap: wrap;
}

.details__suite, .details__price, .details__rating, .details__feedback {
  margin-top: auto;
}

.room-card__details_horizontal-line {
  width: 230px;
  height: 0px;
  border-top: 1px solid $main-color10;
}

.price-and-ruble-sign {
  font-weight: bold;
}

.price-and-ruble-sign::after {
  content: "\20BD";
}