.content__search-form {
    align-self: flex-start;
    width: 380px;
    height: 374px;
    margin-top: 70px;
    margin-left: $main-margin;
    background-color: white;
    border: 1px solid;
}

.search-form__title {
    width: 320px;
    padding: 40px 30px 20px 30px;
    border: 1px solid red;
}