.guests {
    width: 320px;
}

.guests__menu {
    margin-top: 5px;
}

.expand-more-icon {
    width: 44px;
    height: 44px;
    background: url(./blocks/images/expand_more.svg) no-repeat center center;
}

.menu__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    width: 320px;
    border: 1px solid $main-color25;
}

.menu__item {
    width: 261px;
    height: 44px;
    padding-left: 15px;
}

.guests_submenu {
    display: none;
    width: 320px;
    background-color: white;
    border: 1px solid $main-color25;
    border-top: 1px solid white;
}

.round_button_minus {
    width: 30px;
    height: 30px;
    padding-right: 16px;
    background: url(./blocks/images/round_button_minus.svg) no-repeat center center;
}

.round_button_plus {
    width: 30px;
    height: 30px;
    padding-left: 16px;
    background: url(./blocks/images/round_button_plus.svg) no-repeat center center;
}

.adult,
.children,
.newborn {
    display: flex;
    align-items: center;
    height: 44px;
}

.adult__wrapper,
.children__wrapper,
.newborn__wrapper {
    width: 320px;
    padding-left: 15px;
    padding-right: 7px;
    display: inline-flex;
    justify-content: space-between;
}

.guest-content {
    margin-top: auto;
    margin-bottom: auto;
}

.buttons-wrapper {
    width: 92px;
    display: inline-flex;
}

.dropdown_button_clear {
    color: $main-color50;
}

.dropdown_button_apply {
    color: $color1;
}

.clear-apply-buttons {
    display: flex;
    justify-content: space-between;
    padding: 19px 7px 13px 15px;
}

.menu > div {
    position: relative;
}

.menu:hover {
    background-color: $main-color5;
}

.menu .guests_submenu {
    position: absolute;
    display: none;
}

.menu:hover .guests_submenu {
    display: block;
    z-index: 10;
}