extends /templates/page_template.pug

block style
  //- link(rel="stylesheet", href="style.css")
  
  //- link(href="../node_modules/air-datepicker/dist/css/datepicker.min.css", rel="stylesheet", type="text/css")
  link(rel="stylesheet", href="style.css")
  //- link(href="air-datepicker-custom-style.scss")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(type="text/javascript", src="../node_modules/air-datepicker/dist/js/datepicker.min.js")

block title
  title Отель Toxin
block header
  include blocks/page.header/header.pug
block main
  include blocks/page.main/main.pug
block footer
  include blocks/page.footer/footer.pug