.datepicker--cell {
  border-radius: 22px;
}

.datepicker {
  @extend .font_h3;
}

.datepicker--nav-title {
  text-transform: none;
  border-radius: 22px;
}

.datepicker--nav-title i {
  color: $main-color100;
}

.datepicker--cell-day.-other-month- {
  color: $main-color25;
}

.datepicker--cell-day {
  color: $main-color50;
}

.datepicker--cell.-range-to-,
.datepicker--cell.-range-from- {
  color: #ffffff;
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #ffffff;
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--day-name {
  color: $color1;
  @extend .font_h3;
  text-transform: none;
}

.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  @extend .font_h3;
  color: #ffffff;
}

.datepicker--cell.-current-.-in-range- {
  color: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  opacity: 0.25;
  border-radius: 0px;
}

.datepicker--cell.-in-range-.-focus- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--cell.-range-from- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  border-radius: 22px;
  @extend .font_h3;
  box-shadow: 10px 0px 0px 4px rgba(188, 156, 255, 0.25);
  clip-path: inset(0 0 0 0);
  border: transparent;
}

.datepicker--cell.-range-to- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  border-radius: 22px;
  @extend .font_h3;
  box-shadow: -10px 0px 0px 4px rgba(188, 156, 255, 0.25);
  clip-path: inset(0 0 0 0);
  border: transparent;
  opacity: 1;
}

.datepicker--cell.-selected- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--cell.-selected-.-current- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
}

.datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}
.-only-timepicker- .datepicker--content {
  display: none;
}

.datepicker--body {
  font-weight: normal;
}

.datepicker--button {
  color: linear-gradient(180deg, $color1 0%, $color2 100%);
}

.datepicker--nav-action[data-action="prev"] {
  background-image: url(../blocks/images/arrow_back_calendar.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.datepicker--nav-action[data-action="next"] {
  background-image: url(../blocks/images/arrow_forward_calendar.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.datepicker--nav-action:hover {
  border-radius: 22px;
}

.datepicker--nav-action svg {
  display: none;
}

.datepicker--nav-action svg path {
  display: none;
}

.datepicker--time-row input[type="range"]:focus::-webkit-slider-thumb {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  border-color: transparent;
}

.datepicker--time-row input[type="range"]:focus::-moz-range-thumb {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  border-color: transparent;
}

.datepicker--time-row input[type="range"]:focus::-ms-thumb {
  background: linear-gradient(180deg, $color1 0%, $color2 100%);
  border-color: transparent;
}

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 22px;
}
