// $main-color100: #1F2041;
// $main-color75: rgba(31, 32, 65, 0.75);
// $main-color50: rgba(31, 32, 65, 0.50);
// $main-color25: rgba(31, 32, 65, 0.25);
// $main-color10: rgba(31, 32, 65, 0.1);
// $main-color5: rgba(31, 32, 65, 0.05);

// $color1: #BC9CFF;
// $color2: #8BA4F9;

// $page-width: 1440px;
// $page-width-mobile: 768px;
// $main-margin: 140px;

@import './variables.scss';
@import '../blocks/fonts/fonts.scss';
@import '../blocks/logo/logo.scss';
@import '../blocks/page-header/page-header.scss';
@import '../blocks/button-colored/button-colored.scss';
@import '../blocks/button-framed/button-framed.scss';
@import '../blocks/page-main/page-main.scss';
@import '../blocks/dropdown/dropdown.scss';
@import '../blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../blocks/date-dropdown/date-dropdown.scss';
@import '../blocks/filter-date-dropdown/filter-date-dropdown.scss';
@import '../blocks/masked-text-field/masked-text-field.scss';
@import '../blocks/search-form/search-form.scss';
@import '../blocks/subscription-text-field/subscription-text-field.scss';
@import '../blocks/page-footer/page-footer.scss';
@import '../blocks/text-field/text-field.scss';
@import '../blocks/icon-text-list/icon-text-list.scss';
@import '../blocks/checkbox-buttons/checkbox-buttons.scss';
@import '../blocks/radio-buttons/radio-buttons.scss';
@import '../blocks/toggle/toggle.scss';
@import '../blocks/like-button/like-button.scss';
@import '../blocks/rate-button/rate-button.scss';
@import '../blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '../blocks/feedback/feedback.scss';
@import '../blocks/button-colored/button-colored.scss';
@import '../blocks/button-framed/button-framed.scss';
@import '../blocks/button-link/button-link.scss';
@import '../blocks/button-colored-long/button-colored-long.scss';
@import '../blocks/page-copyright-bar/page-copyright-bar.scss';
@import '../blocks/page-footer-mobile/page-footer-mobile.scss';
// @import '../blocks/pagination/pagination.scss';
@import '../blocks/range-slider/range-slider.scss';
@import '../blocks/registration-form/registration-form.scss';
@import '../blocks/apartment-detailed-card/apartment-detailed-card.scss';
@import '../blocks/login-card/login-card.scss';
@import '../blocks/calendar-card/calendar-card.scss';
@import '../blocks/room-card/room-card.scss';

@import '../scss/ui-kit-form-elements.scss';
@import '../scss/page-search-room.scss';

@import '../../node_modules/air-datepicker/dist/css/datepicker.min.css';

@import './air-datepicker-custom-style.scss';
@import './ui-kit-headers-and-footers.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F6;
}