include ../button-colored-long/button-colored-long.pug
include ../dropdown/dropdown.pug
include ../date-dropdown/date-dropdown.pug

mixin search-form(uniqID)
    div.content__search-form
        div.search-form__title.font_h1 Найдем номера под ваши пожелания
        +date-dropdown('Прибытие', 'Выезд')
        +dropdown(uniqID, 'Dropdown', 'Default', 'Сколько гостей', 'Взрослые', 'Дети', 'Младенцы', 'яйца')
        +button-colored-long('search-form__button font_h3', './pages/page-search-room.html','Подобрать номер')