.button {
    display: inline-block;

    border-radius: 20px;
    padding: 9px 20px 10px 19px;
    transform-style: preserve-3d;
    }


.button:before {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
    transform: translateZ(-1px);
}    
    
